@import './_static.scss';

.wrap {
    @include fullrect();
    position: relative;

    .interfacewrap {
        @include flex(column, flex-end);
        @include fullrect();
        overflow: hidden;
        position: absolute;
        pointer-events: none;
    }
}

