@import './_static.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    @include fullrect();
    background-color: whitesmoke;
    color: #333;
    overflow: hidden;
}

body > div:first-child {
    @include fullrect();
    position: relative;
    overflow: hidden;
}

